* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    overflow: hidden;
    
    
}


.map {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
   -webkit-user-drag: none;
   position: relative;
}

.indonesia {
    height: 100%;
    width: 100%;
    transform-origin: 0 0;
   -webkit-user-drag: none;
    overflow: hidden;
   
  
    
}

#viewport {
  position: absolute;
  transform-origin: 0 0;
   height: 100%;
    width: 100%;
   -webkit-user-drag: none;
    overflow: hidden;
}


.pin {
  position: absolute;
  transform: translate(-50%, -100%);
  text-align: center;
}

.pin img {
  width: 30px;
  height: 30px;
}

.pin span {
  background: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  display: block;
  margin-top: 2px;
}

/* FORM */
.pin-form {
  position: absolute;
  background: white;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
  z-index: 10;
}

.hidden {
  display: none;
}   